<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>List of Customer</title>
</h:head>
<h:body style="padding: 60px; min-height: 2000px;">
    <h:form id="selectTable">
        <p:outputLabel for="@next" value="Chọn bảng cần quản lý : " />
        <p:selectOneMenu id="dropTable" >
            <p:ajax event="itemSelect" listener="#{crud.onTableChange}" update = ":customers :uploadExcel"/>
            <f:selectItem itemLabel="Chọn..." itemValue="none"/>
            <c:forEach var="table" items="${crud.allTables}">
                <f:selectItem itemLabel="#{table}" itemValue="#{table}" />
            </c:forEach>
        </p:selectOneMenu>
    </h:form>

    <br/>
    <br/>
    <br/>
    <br/>
    <h:form id = "uploadExcel" enctype="multipart/form-data">
        <p:outputPanel rendered="#{crud.showTable}">
        <p:fileUpload mode="simple" value="#{crud.uploadedFile}" />
        <p:commandButton value="Upload" action="#{crud.upload()}" ajax="false" />
        </p:outputPanel>
    </h:form>
    <h:form id="customers">


    <p:outputPanel rendered="#{crud.showTable}">
    <h1 style="margin-left: 43%;">Quản lý Khách Hàng</h1>
    <p:commandButton value="Thêm Khách hàng" style="margin-left: 46%;margin-bottom: 2%;"
                     actionListener="#{crud.preEdit(null)}"
                     oncomplete="PF('saveOrUpdateDialog').show();" update="@widgetVar(saveOrUpdateDialog)" />
    <br/>
    <br/>
    <p:dataTable paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10,15"
                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                 paginator="true" rows="5" lazy="true" dynamic="true"
                 id="objList" var="obj" value="#{crud.model}">
        <p:columns value="#{crud.columns}" var="column" columnIndexVar="colIndex" sortBy="#{column.property}" filterBy="#{column.property}">
            <f:facet name="header">
                <h:outputText value="#{column.header}" />
            </f:facet>
            <h:outputText value="#{obj[column.property]}" />
        </p:columns>
        <p:column headerText="Sửa">
            <p:commandButton value="Sửa"
                             actionListener="#{crud.preEdit(obj)}"
                             oncomplete="PF('saveOrUpdateDialog').show();"
                             update="@widgetVar(saveOrUpdateDialog):panelInputInfo" />
        </p:column>
        <p:column headerText="Xoá">
            <p:commandButton update="@form objList" style="text-align:center" value="Xoá" icon="ui-icon-closethick"
                             action="#{crud.delete(obj)}"
                             styleClass="ui-priority-primary">
                <p:confirm header="Confirmation" message="Bạn có muốn xoá #{obj.name}?" icon="ui-icon-notice" />
            </p:commandButton>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Có" type="button" styleClass="ui-confirmdialog-yes" icon=" ui-icon-check" />
                <p:commandButton value="Không" type="button" styleClass="ui-confirmdialog-no" icon=" ui-icon-close" />
            </p:confirmDialog>
        </p:column>
    </p:dataTable>
    <br/>
    <p:growl id="message" showDetail="true" />
    <p:dialog header="Nhập thông tin" widgetVar="saveOrUpdateDialog" modal="true" height="220">
        <h:panelGrid columns="1" cellpadding="5" id="panelInputInfo" >
            <c:forEach var="field" items="${crud.fields}">
                <c:choose>
                    <c:when test="${field eq 'id'}">
                        <p:inputText style="display: none" value="#{crud.obj[field]}" />
                    </c:when>
                    <c:otherwise>
                        <h:outputLabel  value="#{field}:" style="font-weight:bold" />
                        <p:inputText  value="#{crud.obj[field]}" />
                    </c:otherwise>
                </c:choose>
            </c:forEach>
            <p:commandButton onclick="PF('saveOrUpdateDialog').hide()" update="@form objList" value="Lưu" icon="ui-icon-check"
                             action="#{crud.saveOrUpdate()}"
                             styleClass="ui-priority-primary">
            </p:commandButton>
        </h:panelGrid>
    </p:dialog>
    </p:outputPanel>
    </h:form>
</h:body>
</html>